/* Base styles */
.about {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:black;
  }
  
  .text-container {
    padding: 1px;
  }

  p {
    color: black;
    margin: 0; /* Remove default margins to avoid excessive space */
    line-height: 1.6; 
    text-align: left; 
  }

  h1{
    color: black;
    margin-top: 2%;
  }

  h2 +p {
    margin-top: 10px;
  }

  
  
  /* Media query for mobile devices (max-width: 600px) */
  @media (max-width: 600px) {
    .text-container {
      text-align: left;
      font-size: 14px; 
      padding: 10px;
    }
}

  