
.pdf_button {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #c372d3;
    color: #ffffff; /* Button text color */
    font-size: 16px; /* Default font size for normal screens */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
  }
  
  /* Hover effect */
  .pdf_button:hover,
  .pdf_button:focus {
    border: 1px solid #0d0d0e; /* Adjust the border style as needed */
    color: #ffffff; /* New text color on hover/focus */
  }

 
  
  /* Media query for mobile devices */
  @media screen and (max-width: 600px) {
    .pdf_button {
      font-size: 14px; /* Font size for mobile devices */
    }
  }
  
  