
  .contactform{
    max-width: 600px;
    text-align: center;
    margin: 30px auto;
  }  

  input,
  textarea {
    border: 0;
    outline: 1px;
    padding: 1em;
    border-radius: 8px;
    display:block;
    width:fit-content;
    margin-top: 1em;
    margin-left: 2em;
    font-family: 'Outfit', sans-serif;    
    resize: none;
    font-size: 1rem;
  }

  ::placeholder{
    color: #161616;
  }

  h1 {
    text-align: center;
    color: #767474;
    padding-top: 30px;
  }

  .input-icon {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

/* Style the icons */
.input-icon svg {
  margin-right: 15px; /* Add some spacing between icon and input */
}

/* Style the submit button */
  .submit {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #e59edf; /* Lighter background color */
    color: #333; /* Darker font color */
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition effect */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  /* Hover effect */
  .submit:hover {
    background-color: #c372d3; /* Original background color on hover */
    color: white; /* Text color on hover */
    border-color: #000; /* Border color on hover */
  }
  
  /* Focus effect */
  .submit:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(195, 114, 211, 0.5); /* Add a subtle box shadow on focus */
  }
  /* display: inline-block;
  margin-bottom: 20px;
  margin-top: 60px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #c372d3;
  color: white; 
  font-size: 16px; 
  font-weight:bold;
  transition: background-color 0.3s, color 0.3s;
}

.submit:hover{
  border-color: black 1px solid;
} */


label[for="user_name"]:before,
label[for="user_email"]:before,
label[for="message"]:before {
  content: '* ';
  color: red;
}
/* Media query for smaller screens (adjust as needed) */
@media (max-width: 600px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

