/* Define styles for the section */
.about {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

/* Flex container for the image and text */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Individual flex items */
.flex-item {
  margin-bottom: 20px;
}

.aboutshort{
  font-size: 1rem;
  text-align: block;
  padding-bottom: 5%;
}

.annika {
  border-radius: 50%;
  max-width: 100px;
  height: auto;
}

.logo{
	background: none !important;
border: none !important;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a:focus {
  border: 1px solid #0d0d0e; /* Adjust the border style as needed */
}

.social-links a:hover {
  border: 1px solid #0d0d0e; /* Adjust the border style as needed */
}

/* Style the social icons */
.social-links a img {
  max-width: 30px; 
}





@media (max-width: 600px) {
  .about {
    padding: 40px;
  }
  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    margin-bottom: 10px;
  }
  /* .pdf_button {
    font-size: 12px;
    margin-bottom: 5%;
  } */
  .social-links {
    flex-direction: row;
  }

  .aboutshort{
    text-align:block;
    justify-content: space-between;
  }
}



