
.header{
    text-align: center;
    width: 100%;
  }
  
  
  .github{
    height: 1%;
    width: 1%;
    /* margin-top: 10px; */
  }
  
  .linkedin{
  
    height: 2px;
    width: 2px;
    /* margin-left: 290px;
    margin-top: 10px; */
  }
  
  @media (max-width: 600px){
    .annika {
      max-width: 300px; /* Adjust the maximum width for mobile devices */
      margin-top: 0;
    }
  }

.aboutshort {
  text-align: center;  
  padding-left: 3%;
  margin-top: 10rem;
  height: auto;
  font-size: 1.1rem;
  width: auto;
  color: black;
  margin-right: 5%;
  font-family: 'Outfit', sans-serif;  font-size: 1.5vw;
} 

@media (max-width: 550px){
  .aboutshort{  
     text-align: center
   } }

  /* .image-container {
    max-width: 400px;
    margin-bottom: 20px;
  } */

    /* @media (max-width: 600px) {
      .flex-projects {
        flex-direction: column;
        align-items: center;
      }
    
      .project-links {
        width: 80%;
      }
    
      .project-links a {
        font-size: 16px;
      }
    } */

  