
.header{
    text-align: center;
    width: 100%;
  }
  
  
  .github{
    height: 1%;
    width: 1%;
    /* margin-top: 10px; */
  }
  
  .linkedin{
  
    height: 2px;
    width: 2px;
    /* margin-left: 290px;
    margin-top: 10px; */
  }
  

  