
/* Styles for desktop screens */
.flex-projects {
  display: flex;
  justify-content: space-between;
}

.project-links {
  flex: 1;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  background-color: #f5f0f0;
}

.project-links a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 10px;
  font-family: 'Outfit', sans-serif;    
  /* font-size: 1.2vw; */
}

h1{
  font-size: 20px;
  font-family: 'Outfit', sans-serif;  
  text-align: center;  
  color: black;
  font-weight: bolder;
}

.project-links img {
  max-width: 70%;
  height: auto;
  border-radius: 4px;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .flex-projects {
    flex-direction: column;
    align-items: center;
  }

  .project-links {
    width: 80%;
  }

  .project-links a {
    font-size: 16px;
  }
}

  

  
  