.App {
  text-align: center;
  background-color: #F9F1F0;
  font-family: 'Playfair Display', serif; 
  font-size: 1vw;
  padding-top: 1px;
}

#root{
  font-size: 100%;
}

body{
  width: 100%;
  height: 100vh;
}

header >h1{
  text-align: center;
  /* background-color: #FADCD9; */
  width: 100%;
  text-transform:uppercase;
}

li {
  list-style-type: none;
}

/* icon in header */
.github{
  height: 4%;
  width: 4%;
  float:left;
  margin-top: 10px;
}
/* icon in header */
.linkedin{

  height: 4%;
  width: 4%;
  float:left;
  margin-left: 10px;
  margin-top: 10px;
}

h1{
  color: black;
  font-size: 3vw;
}

h2{
  text-align: left;
  font-size: 2vw;


}

/* project component */
.flex-container{
  display: flex;
  flex-direction:column;
  font-family: 'Playfair Display', serif; 
  font-size: 1vw;

}
/* project component */
.flex-projects > div{
  width: 100%;
  height: auto;
  
}

/* About.js */
.flex-about{
  display: flex;
  justify-content: space-between;
  float: left;

}
/* about.js */
.about {
  text-align: justify;  
  padding-left: 3%;
  margin: 1rem 0;
  margin-bottom: 3rem;
  height: auto;
  font-size: 2vw;
  /* float: left; */
  width: auto;
  
}


/* profile image */
.annika{
  border-radius: 5%;
  width: 20%;
  float: left;
  position:sticky;
  padding-bottom: 2%;
  margin-left: 1rem;
}

/* Responsive layout  - one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-projects {
    /* flex-direction: column; */
    width: 90%;  
  }
} 

@media (max-width: 800px) {
  .about {
    /* flex-direction: column; */
    width: 90%;
    /* flex-basis: 80%; */
  }
} 

@media (max-width: 800px) {
  .annika {
    /* flex-direction: column; */
    width: 50%;
    /* flex-basis: 75%; */
  }
} 


/* image of app */

.BeyondTravel{
  width: 15%;
  margin-top: 2vh;
}

.project-links{
  font-family: 'Playfair Display', serif; 
  font-size: 1.5rem;
}


.BreakingBad{
  border-radius: 5%;
  width: 25%;
  margin-top: 2vh;
}

/* image of app */
.Quiz{
  border-radius: 5%;
  width: 20%;
  margin-top: 2vh;
}

.Hotel{
  border-radius: 5%;
  width: 40%;
  margin-top: 2vh;
  margin-bottom: 5vh;
}


.Footer{
  background-color: #FADCD9;
  font-size: 0.5vw;
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-left: 15%;
}

hr{
  width: 80%;
  border-top: 1px solid grey;
}

a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

