.App {
  text-align: center;
  background-color: rgb(230, 234, 230);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding-top: 1px;
}

.header{
  text-align: center;
  /* position:; */
}

li {
  list-style-type: none;
}

.github{
  height: 50px;
  width: 50px;
  float:left;
  margin-top: 10px;

}

.linkedin{

  height: 50px;
  width: 50px;
  float:left;
  margin-left: 10px;
  margin-top: 10px;
}

h1{
  color: black;
}


.flex-container{
  display: flex;
  justify-content: space-between;
  flex-direction:row;

}

.flex-container > div{
  width: 500px;
  height: 500px;

}

/* Responsive layout  - one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
} 

.BreakingBad{
  border-radius: 5%;
  width: 70%;
  right: 10px;
  margin-top: 30px;
}

.Quiz{
  border-radius: 5%;
  width: 50%;
  right: 10px;
  margin-top: 30px;
}

.about {
  text-align: justify;  
  padding: 8px;
  text-align:justify;
  width: 700px; 
  height: auto;
  overflow: hidden;
  resize: none;

}


.Footer{
  background-color: #FADCD9;
  font-size: 10px;
  position: fixed;
  bottom: 0%;
  width: 150%
}

/* Split the screen in half */
.split {
  /* height: 100%; */
  width: 100%;
  /* overflow-x: hidden; */
  padding-top: 20px;
}

/* Control the left side */
.left {
  /* left: 0; */
  /* top: 90px; */
  background-color: #F9F1F0;
  /* float: left;
  height: auto; */
}

.right {
  /* right: 0;
  top: 90px; */
  background-color: #FADCD9;
}

.container-left{
  display: flex;
  min-height: 100vh;
}

a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}